<!DOCTYPE html>
<html>
    <body background="{{ url_for('static', filename='chineese_firewall.jpg') }}" >

<h2>Dodaj regułę</h2>

<form>
Adres źródłowy:<br>
<input type="text" name="src_add">
<br>
Maska adresu źródłowego:<br>
<input type="text" name="src_mask">
<br>
Adres docelowy:<br>
<input type="text" name="dest_add">
<br>
Maska adresu docelowy:<br>
<input type="text" name="dest_mask">
<br>
Protokół:<br>
<input type="text" name="protocol">
<br>
<br><input type="submit">
</form>


</body>
</html>
