<!DOCTYPE html>
<html>
  <title>Elastyczny Firewall</title>
    <body background="{{ url_for('static', filename='chineese_firewall.jpg') }}" >

<h1>Witaj podróżniku</h1>
<a href='/show'>Aktywne reguły</a>

</body>
</html>
