<!DOCTYPE html>
<html lang="en">
<head>
  <title>Elastyczny Firewall</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Obecne wpisy</h2>
  {# <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> #}
  <table class="table">
    <thead>
      <tr>
        {% for key in keys %}
        <th>{{ key }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in results %}
      <tr>
        {% for key in keys %}
        <td>{{ row[key] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <h2>Formularz</h2>
  <form action="/save">
      {% for field in fields %}
    <div class="form-group">
        <label for="{{ field.tag }}">{{ field.description }}:</label>
        <input type="{{ field.type | default('text') }}" class="form-control" id="{{ field.tag }}" placeholder="{{ field.placeholder }}" name="{{ field.tag }}">
    </div>
      {% endfor %}
    <div style="display: none;" class="checkbox">
      <label><input type="checkbox" name="sure">Na pewno?</label>
    </div>
    <button type="submit" class="btn btn-default">Zapisz</button>
  </form>
</div>

</body>
</html>
